- permitted_params = params.permit(*filtering_params)
- products_empty = @products.empty?

.columns
  .column.main
    .react-plp-app
      = render('spree/products/filters_desktop', permitted_params: permitted_params)
      .react-plp-app__results
        .react-plp-app__results-header
          = render('spree/products/filter_and_sort_mobile_buttons')
          = render('spree/products/sort_desktop', permitted_params: permitted_params)

        = render('spree/shared/products', products: @products)


