.breadcrumbs
  %ul.items
    %li.item.home
      %a(href='javascript:void(0)' title='Go to Home Page')
        Home
    %li.item.category10
      %a(href='javascript:void(0)' title='')
        Bath
    %li.item.category763
      %strong Towels
